body{
    background-color: #1f2937;
    font-family: roboto, sans-serif;
    color: #F9FAF8;
    /* border: 2px solid red; */
    width: auto;
    margin: auto;
    overflow-x: hidden;
}

header {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    /* border: 2px solid red; */
    padding: 10px 50px;

}

header b{
    font-size: 24px;
    /* border: 2px solid red; */
}

header a{
    float: right;
    font-size: 18px;    
    color: #E5E7EB;
    text-decoration: none;
    /* border: 2px solid red; */
    padding: 0 15px;

}

.main-section {
    height: 25em;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
}

.main-text {
    display: inline-block;
    text-align: left;
    width: 40%;
    margin: auto;
    /* border: 2px solid red; */
}
.main-img {
    display: inline-block;
}
.main-img img{
    /* border: 2px solid red; */
    width: auto;
    margin: auto;
    border-radius: 15%;
    float: right;
}

.main-section .main-text #main-text-bold {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: extra-bold;
        display: block;
}

.main-section .main-text #main-text-info {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: extra-bold;
    display: block;
}

.main-section .main-text #hero-button {
    background-color: teal;
    color: #F9FAF8;
    border-radius: 12px;
    border: 0;
    font-size: 24px;
}

.info-section {
    background-color: #F9FAF8;
    color: #1f2937;
    height: 20em;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
    margin: 30px 0 0;
}  

.info-section #header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding: 20px 0 0;
    display: block;
}

.info-section .info-image {
    display: inline-block;
    /* border: 2px solid red; */
    width: 100px;
    height: 100px;
    margin: 0 40px 0;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1f2937;
    height: 20em;
    /* border: 2px solid red; */
    text-align: center;
    display: block;
}

.quote-section #quote {
    font-size: 36px;
    font-weight: light italics;
    color: #1f2937;
    margin: 50px 0;
    
}

.quote-section #pic {
    width: 75px;
  height: 75px;
  border:2px solid rgb(202, 188, 188);
  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;

}

.call2action-section {
    background-color: #F9FAF8;
    color: #1f2937;
    height: 10em;
    /* border: 2px solid red; */
    width: 100%;
    padding: 80px 0 0;


}

.call2action-section .blue-box {
    background-color: #3882f6;
    height: 100px;
    width: 1200px;
    margin: 0 6% 0;
    padding: 10px 0 0 -10px;
    border-radius: 25px;
    /* border: 2px solid red; */
    border: 2px solid #1f2937;
}

.call2action-section .blue-box h5, p, button {
    display: inline;
}

.call2action-section .blue-box h5 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 5px 20px 0;
    display: block;
}

.call2action-section .blue-box p {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: inline;
    margin: 0 70px 0;
}

.call2action-section .blue-box button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 24px;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    padding: auto;
    margin: -10px 80px 0 20px;
    float: right;
}

footer {
    color: #E5E7EB;
    text-align: center;
    /* border: 2px solid red; */
}