body{
    background-color: #1f2937;
    font-family: roboto, sans-serif;
    color: #F9FAF8;
    /* border: 2px solid red; */
    width: auto;
    margin: auto;
}

header {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    /* border: 2px solid red; */
    padding: 10px 50px;

}

header b{
    font-size: 24px;
    /* border: 2px solid red; */
}

header a{
    float: right;
    font-size: 18px;    
    color: #E5E7EB;
    text-decoration: none;
    /* border: 2px solid red; */
    padding: 0 15px;

}

.main-section {
    height: 25em;
    width: 100%;
    /* border: 2px solid red; */
    text-align: center;
}

.main-text {
    display: inline-block;
    text-align: left;
    width: 40%;
    margin: auto;
    /* border: 2px solid red; */
}
.main-img {
    display: inline-block;
}
.main-img img{
    /* border: 2px solid red; */
    width: auto;
    margin: auto;
    border-radius: 15%;
    float: right;
}

.main-section .main-text #main-text-bold {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: extra-bold;
}

.main-section .main-text #main-text-info {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.main-section .main-text #hero-button {
    background-color: teal;
    color: #F9FAF8;
    border-radius: 12px;
    border: 0;
    font-size: 24px;
}

.info-section {
    background-color: #F9FAF8;
    color: #1f2937;
    height: 20em;
    width: 100%;
    border: 2px solid red;
}  

.quote-section {
    background-color: #E5E7EB;
    color: #1f2937;
    height: 20em;
    border: 2px solid red;
}

.call2action-section {
    background-color: #F9FAF8;
    color: #1f2937;
    height: 20em;
    border: 2px solid red;
}

footer {
    color: #E5E7EB;
    text-align: center;
    border: 2px solid red;
}